#app {
  height: 100%;
  background-color: #3c8cd2;
}
.main {
  width: 100%;
  height: 100%;
  min-height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.welcome {
  font-size: 30px;
  color: #3c8cd2;
  position: absolute;
  top: 24px;
}
.login {
  width: 360px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.inputInfor {
  width: 70%;
  height: 35px;
  margin-bottom: 20px;
  //border-radius: 10px;
  //outline: none;
  //border: none;
  padding-left:20px;
}
.captchaInfor {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  padding-left:20px;
}
.vertifyCode{
  width: 70%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.vetifyCodeRight {
  background-color: white;
  height: 29px;
  position: absolute;
  right: 3px;
  top: 5px;
}
.loginBtn {
  margin-top: 10px;
  width: 70%;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #3c8cd2;
  color: white;
}